<template id="logo">
    <div class="title">
        <pre>
            
██████╗░░█████╗░██████╗░██╗░░░░░░█████╗░
██╔══██╗██╔══██╗██╔══██╗██║░░░░░██╔══██╗
██████╔╝███████║██████╦╝██║░░░░░██║░░██║
██╔═══╝░██╔══██║██╔══██╗██║░░░░░██║░░██║
██║░░░░░██║░░██║██████╦╝███████╗╚█████╔╝
╚═╝░░░░░╚═╝░░╚═╝╚═════╝░╚══════╝░╚════╝░
    </pre
        >
        <pre>
██████╗░██╗░░░██╗██████╗░░█████╗░███╗░░██╗
██╔══██╗██║░░░██║██╔══██╗██╔══██╗████╗░██║
██║░░██║██║░░░██║██████╔╝███████║██╔██╗██║
██║░░██║██║░░░██║██╔══██╗██╔══██║██║╚████║
██████╔╝╚██████╔╝██║░░██║██║░░██║██║░╚███║
╚═════╝░░╚═════╝░╚═╝░░╚═╝╚═╝░░╚═╝╚═╝░░╚══╝
    </pre
        >
    </div>

    <div class="enter">--- PRESS ENTER ---</div>
</template>
